# OS Metadata Files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# Editor & Development Configuration
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Project Temporary Files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
tmp/
C:\Users\Harshada\.gemini
